# Environment variables
*.env
frontend-react-js/build/*
erb/*

#Node modules
node_modules

#Docker
docker-compose.yml

# Task definition environment variables for backend
aws/task-definition/backend-flask.json

# packages
package-lock.json
package.json

.DS_Store